header {
    .title {
        font-size: 18px;
        letter-spacing: 0;
        text-align: 'center';
        color: #484848;
      }
      .toolbar {
        height: 50px;
      }
      .home-icon {
        width: 30px;
        height: 30px;
        margin-right: 12px;
      }
      .search-icon {
        width: 30px;
        height: 30px;
        margin-right: 14px;
      }
}
