page-itsubmission {
ion-content{
  background:rgb(245 ,245 ,245) !important;
}
.home-icon{
  width: 20px;
  height: 20px;
}
.header{
  ion-title{
    text-align: center;
    margin-right: 20px;
  }
}

}
